@section Styles{
    <style>
        .imgLogo {
            opacity: 0.2;
            filter: alpha(opacity=50);
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: 20%;
            width: 50%;
        }
    </style>
}
<div class="content content-fixed content-auth">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <img src="~/Content/theme/images/SampoernaX.png" class="imgLogo" alt="" />
            </div><!-- media-body -->
        </div><!-- media -->
    </div><!-- container -->
</div><!-- content -->