USE [FAST_QA]
GO
/****** Object:  Table [dbo].[ReportKPITargets]    Script Date: 3/26/2020 9:20:25 AM ******/
DROP TABLE [dbo].[ReportKPITargets]
GO
/****** Object:  Table [dbo].[ReportKPITargets]    Script Date: 3/26/2020 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReportKPITargets](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductionCenter] [varchar](10) NULL,
	[KPI] [varchar](20) NULL,
	[TargetInternal] [decimal](18, 3) NULL,
	[TargetOB] [decimal](18, 3) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ReportKSITargets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ReportKPITargets] ON 

INSERT [dbo].[ReportKPITargets] ([ID], [ProductionCenter], [KPI], [TargetInternal], [TargetOB], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, N'ID', N'Volume', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), NULL, CAST(0x0000AB8A0095AE74 AS DateTime), 0)
INSERT [dbo].[ReportKPITargets] ([ID], [ProductionCenter], [KPI], [TargetInternal], [TargetOB], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, N'ID', N'Uptime*', CAST(70.030 AS Decimal(18, 3)), CAST(70.030 AS Decimal(18, 3)), NULL, CAST(0x0000AB8A0095AE74 AS DateTime), 0)
INSERT [dbo].[ReportKPITargets] ([ID], [ProductionCenter], [KPI], [TargetInternal], [TargetOB], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, N'ID', N'CRR*', CAST(2.100 AS Decimal(18, 3)), CAST(2.100 AS Decimal(18, 3)), NULL, CAST(0x0000AB8A0095AE74 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ReportKPITargets] OFF
