USE [FAST_DEV]
GO
/****** Object:  Table [dbo].[TrainingMachineTypes]    Script Date: 29/12/2019 11:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingMachineTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TrainingTitleID] [bigint] NOT NULL,
	[MachineTypeID] [bigint] NOT NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TrainingMachineTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingTitles]    Script Date: 29/12/2019 11:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingTitles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TrainingTitles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TrainingTitles] ON 

INSERT [dbo].[TrainingTitles] ([ID], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (1, N'	Production Technician Finishing Leader-Fault Catalog', 0, NULL, NULL)
INSERT [dbo].[TrainingTitles] ([ID], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (2, N'#insidePMI on Social Media', 0, NULL, NULL)
INSERT [dbo].[TrainingTitles] ([ID], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (3, N'3 Way Match', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TrainingTitles] OFF
