USE [FAST_DEV]
GO
ALTER TABLE [dbo].[ChecklistComponents] DROP CONSTRAINT [DF_ChecklistComponents_IsRequired_1]
GO
/****** Object:  Table [dbo].[ChecklistValues]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistValues]
GO
/****** Object:  Table [dbo].[ChecklistValueHistories]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistValueHistories]
GO
/****** Object:  Table [dbo].[ChecklistSubmits]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistSubmits]
GO
/****** Object:  Table [dbo].[Checklists]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[Checklists]
GO
/****** Object:  Table [dbo].[ChecklistLocations]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistLocations]
GO
/****** Object:  Table [dbo].[ChecklistComponents]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistComponents]
GO
/****** Object:  Table [dbo].[ChecklistApprovals]    Script Date: 10/20/2019 11:46:23 PM ******/
DROP TABLE [dbo].[ChecklistApprovals]
GO
/****** Object:  Table [dbo].[ChecklistApprovals]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistApprovals](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistSubmitID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[EmployeeID] [char](10) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Comments] [varchar](100) NULL,
	[ParentID] [bigint] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistApprovals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChecklistComponents]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistComponents](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistID] [bigint] NOT NULL,
	[Segment] [varchar](50) NULL,
	[ComponentType] [varchar](50) NULL,
	[ComponentName] [varchar](200) NULL,
	[AdditionalValue] [varchar](100) NULL,
	[OrderNum] [int] NULL,
	[ColumnNum] [int] NULL,
	[IsRequired] [bit] NOT NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistComponents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChecklistLocations]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistLocations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistID] [bigint] NOT NULL,
	[LocationID] [bigint] NOT NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Checklists]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Checklists](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuTitle] [varchar](50) NOT NULL,
	[Header] [varchar](150) NOT NULL,
	[Icon] [varchar](150) NULL,
	[ColumnHeader] [int] NOT NULL,
	[ColumnContent] [int] NULL,
	[Approver1] [char](10) NULL,
	[Approver2] [char](10) NULL,
	[AdditionalApprover] [char](10) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Checklists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChecklistSubmits]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistSubmits](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistID] [bigint] NULL,
	[CompleteDate] [datetime] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Shift] [varchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[IsEdited] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistSubmits] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChecklistValueHistories]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistValueHistories](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistSubmitID] [bigint] NOT NULL,
	[ChecklistValueID] [bigint] NOT NULL,
	[OldValue] [varchar](150) NULL,
	[NewValue] [varchar](150) NULL,
	[UserID] [bigint] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistValueHistories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChecklistValues]    Script Date: 10/20/2019 11:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistValues](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChecklistSubmitID] [bigint] NOT NULL,
	[ChecklistComponentID] [bigint] NOT NULL,
	[Value] [varchar](150) NULL,
	[ValueType] [varchar](20) NULL,
	[ValueDate] [datetime] NULL,
	[OrderNum] [int] NULL,
	[ColumnNum] [int] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistValues] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ChecklistComponents] ADD  CONSTRAINT [DF_ChecklistComponents_IsRequired_1]  DEFAULT ((1)) FOR [IsRequired]
GO
