USE [FAST_QA]
GO
ALTER TABLE [dbo].[PPReportYieldTargets] DROP CONSTRAINT [DF_PPReportYieldTargets_IsDeleted]
GO
ALTER TABLE [dbo].[PPReportYieldIMLs] DROP CONSTRAINT [DF_PPReportYieldIMLs_IsDeleted]
GO
/****** Object:  Table [dbo].[PPReportYieldTargets]    Script Date: 3/4/2020 9:59:59 AM ******/
DROP TABLE [dbo].[PPReportYieldTargets]
GO
/****** Object:  Table [dbo].[PPReportYieldIMLs]    Script Date: 3/4/2020 9:59:59 AM ******/
DROP TABLE [dbo].[PPReportYieldIMLs]
GO
/****** Object:  Table [dbo].[PPReportYieldIMLs]    Script Date: 3/4/2020 9:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PPReportYieldIMLs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[LocationID] [bigint] NULL,
	[Type] [varchar](20) NULL,
	[Value] [decimal](18, 4) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PPReportYieldIMLs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PPReportYieldTargets]    Script Date: 3/4/2020 9:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PPReportYieldTargets](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationID] [bigint] NULL,
	[Type] [varchar](20) NULL,
	[Name] [varchar](100) NULL,
	[Target] [decimal](18, 4) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PPReportYieldTargets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PPReportYieldIMLs] ADD  CONSTRAINT [DF_PPReportYieldIMLs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PPReportYieldTargets] ADD  CONSTRAINT [DF_PPReportYieldTargets_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
