USE [FAST_QA]
GO
ALTER TABLE [dbo].[DashboardYieldGovernances] DROP CONSTRAINT [DF_DashboardYieldGovernances_IsDeleted]
GO
/****** Object:  Table [dbo].[DashboardYieldGovernances]    Script Date: 3/17/2020 6:32:44 PM ******/
DROP TABLE [dbo].[DashboardYieldGovernances]
GO
/****** Object:  Table [dbo].[DashboardYieldGovernances]    Script Date: 3/17/2020 6:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DashboardYieldGovernances](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [bigint] NULL,
	[Week] [bigint] NULL,
	[Location] [varchar](50) NULL,
	[Area] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Target] [decimal](18, 2) NULL,
	[Value] [decimal](18, 2) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_DashboardYieldGovernances] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DashboardYieldGovernances] ADD  CONSTRAINT [DF_DashboardYieldGovernances_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
