USE [FAST_DEV]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/10/2019 06:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[JobTitleID] [bigint] NOT NULL,
	[LocationID] [bigint] NULL,
	[Location] [varchar](100) NULL,
	[SupervisorID] [varchar](50) NULL,
	[SupervisorName] [varchar](100) NULL,
	[IsOS] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([ID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_Users_Locations]
GO
