USE [FAST_QA]
GO
ALTER TABLE [dbo].[DashboardWastes] DROP CONSTRAINT [DF_DashboardWastes_IsDeleted]
GO
/****** Object:  Table [dbo].[DashboardWastes]    Script Date: 3/17/2020 6:32:44 PM ******/
DROP TABLE [dbo].[DashboardWastes]
GO
/****** Object:  Table [dbo].[DashboardWastes]    Script Date: 3/17/2020 6:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DashboardWastes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [bigint] NOT NULL,
	[Week] [bigint] NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Dry] [decimal](18, 2) NOT NULL,
	[Wet] [decimal](18, 2) NOT NULL,
	[Dust] [decimal](18, 2) NOT NULL,
	[Hot] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DashboardWastes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DashboardWastes] ADD  CONSTRAINT [DF_DashboardWastes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
