use [FAST_DEV2]
go

CREATE TABLE [dbo].[PPReportYields](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[LocationID] [bigint] NULL,
	[Location] [varchar](500) NULL,
	[Input] [float] NULL,
	[MCInput] [float] NULL,
	[DryInput] [float] NULL,
	[NonBom] [float] NULL,
	[MCNonBom] [float] NULL,
	[DryNonBom] [float] NULL,
	[Casing] [float] NULL,
	[DryMatter] [float] NULL,
	[DryCasing] [float] NULL,
	[Output] [float] NULL,
	[MCOutput] [float] NULL,
	[DryOutput] [float] NULL,
	[DryYield] [float] NULL,
	[WetYield] [float] NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL
 CONSTRAINT [PK_PPReportYields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO