use [FAST_QA]
go
--Drop Table [dbo].[DTDeleted];
CREATE TABLE [dbo].[DTDeleted](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PK] [bigint] NOT NULL,
	[BatchID] [varchar](50) NULL,
	[TableName] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL
 CONSTRAINT [PK_DTDeleted] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO