USE [FAST_QA]
GO
ALTER TABLE [dbo].[PPReportYieldOVs] DROP CONSTRAINT [DF_PPReportYieldOVs_IsDeleted]
GO
/****** Object:  Table [dbo].[PPReportYieldOVs]    Script Date: 2/19/2020 4:49:22 PM ******/
DROP TABLE [dbo].[PPReportYieldOVs]
GO
/****** Object:  Table [dbo].[PPReportYieldOVs]    Script Date: 2/19/2020 4:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PPReportYieldOVs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[LocationID] [bigint] NULL,
	[Type] [varchar](20) NULL,
	[Waste] [varchar](200) NULL,
	[WasteType] [varchar](100) NULL,
	[Area] [varchar](200) NULL,
	[OvValue] [decimal](18, 4) NULL,
	[IsDeleted] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PPReportYieldOVs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PPReportYieldOVs] ADD  CONSTRAINT [DF_PPReportYieldOVs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
