USE [FAST_DEV]
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 09/10/2019 09:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](15) NOT NULL,
	[Code] [char](6) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_JobTitles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobTitles] ON 

INSERT [dbo].[JobTitles] ([ID], [RoleName], [Code], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (1, N'USER', N'TEMP  ', N'Administrative Assistant', 0, NULL, NULL)
INSERT [dbo].[JobTitles] ([ID], [RoleName], [Code], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (2, N'USER', N'TEMP  ', N'Apprentice Operations', 0, NULL, NULL)
INSERT [dbo].[JobTitles] ([ID], [RoleName], [Code], [Title], [IsDeleted], [ModifiedBy], [ModifiedDate]) VALUES (3, N'USER', N'TEMP  ', N'Asset Engineer', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[JobTitles] OFF
ALTER TABLE [dbo].[JobTitles]  WITH CHECK ADD  CONSTRAINT [FK_JobTitles_Roles] FOREIGN KEY([RoleName])
REFERENCES [dbo].[Roles] ([Name])
GO
ALTER TABLE [dbo].[JobTitles] CHECK CONSTRAINT [FK_JobTitles_Roles]
GO
