/****** Script for SelectTopNRows command from SSMS  ******/
declare @ProdCenter table(idx int identity(1,1), name Varchar(10))
insert into @ProdCenter (name)
    select 'ID-PJ' union
    select 'ID-PK' union
    select 'ID-PI' union
    select 'ID-PB'
	
Declare @LocationNya Varchar(20);
Declare @ProdLocationNya Varchar(20);
Declare @DateNya DateTime;

SET @DateNya = GetDate()--'2020-02-29' 


declare @i int
declare @cnt int
select @i = min(idx) - 1, @cnt = max(idx) from @ProdCenter


while @i < @cnt
begin
	select @i = @i + 1
	select @ProdLocationNya = name from @ProdCenter where idx = @i

/****** Secondary Dashboard ******/
SET @LocationNya = CONCAT(@ProdLocationNya,'-SP')
--Daily
delete from [Dashboards] where Location = @LocationNya and Date = @DateNya
insert into [Dashboards] ([Date],[Submitted],[Approved],[Location],[IsDeleted],[ModifiedDate])
values (@DateNya,
(SELECT count(*) FROM [LPHSubmissions] where IsDeleted = 0 and Date = @DateNya and substring(Location,1,5) = @ProdLocationNya)
,(SELECT count(*) FROM [LPHSubmissions] where IsDeleted = 0 and IsComplete = 1 and Date = @DateNya and substring(Location,1,5) = @ProdLocationNya)
,@LocationNya
,0
,GetDate())
--Weekly
delete from [DashboardWeeks] where Location = @LocationNya and [Week] = datepart(wk,@DateNya)  and [Year] = Year(@DateNya)
insert into [DashboardWeeks] ([Week],[Year],[Submitted],[Approved],[Location],[IsDeleted],[ModifiedDate])
values (datepart(wk,@DateNya), Year(@DateNya),
(SELECT count(*) FROM [LPHSubmissions] where IsDeleted =0 and datepart(wk,[Date]) = datepart(wk,@DateNya) and Year([Date]) = Year(@DateNya) and substring(Location,1,5) = @ProdLocationNya)
,(SELECT count(*) FROM [LPHSubmissions] where IsDeleted =0 and IsComplete =1 and datepart(wk,[Date]) = datepart(wk,@DateNya) and Year([Date]) = Year(@DateNya) and substring(Location,1,5) = @ProdLocationNya)
,@LocationNya
,0
,GetDate())

/****** Primary Dashboard ******/
SET @LocationNya = CONCAT(@ProdLocationNya,'-PP')
--Daily
delete from [Dashboards] where Location = @LocationNya and Date = @DateNya
insert into [Dashboards] ([Date],[Submitted],[Approved],[Location],[IsDeleted],[ModifiedDate])
values (@DateNya,
(SELECT count(*) FROM [PPLPHSubmissions] where IsDeleted = 0 and Date = @DateNya and substring(Location,1,5) = @ProdLocationNya)
,(SELECT count(*) FROM [PPLPHSubmissions] where IsDeleted =0 and IsComplete = 1 and Date = @DateNya and substring(Location,1,5) = @ProdLocationNya)
,@LocationNya
,0
,GetDate())
--Weekly
delete from [DashboardWeeks] where Location = @LocationNya and [Week] = datepart(wk,@DateNya)  and [Year] = Year(@DateNya)
insert into [DashboardWeeks] ([Week],[Year],[Submitted],[Approved],[Location],[IsDeleted],[ModifiedDate])
values (datepart(wk,@DateNya), Year(@DateNya),
(SELECT count(*) FROM [PPLPHSubmissions] where IsDeleted = 0 and datepart(wk,[Date]) = datepart(wk,@DateNya) and Year([Date]) = Year(@DateNya) and substring(Location,1,5) = @ProdLocationNya)
,(SELECT count(*) FROM [PPLPHSubmissions] where IsDeleted = 0 and IsComplete = 1 and datepart(wk,[Date]) = datepart(wk,@DateNya) and Year([Date]) = Year(@DateNya) and substring(Location,1,5) = @ProdLocationNya)
,@LocationNya
,0
,GetDate())

end