@model Fast.Web.Models.UserModel

@{
	Layout = null;
}
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Meta -->
	<meta name="description" content="PT HMS - Fast Project">
	<meta name="author" content="ThemePixels">
	<!-- Favicon -->
	<link rel="icon" href="~/Content/theme/images/favicon.ico" type="image/x-icon">
	<title>HMS FAST Login</title>
	<!-- vendor css -->
	<link href="~/Content/dashforge/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
	<!-- DashForge CSS -->
	<link rel="stylesheet" href="~/Content/dashforge/assets/css/dashforge.css">
	<link rel="stylesheet" href="~/Content/dashforge/assets/css/dashforge.demo.css">
</head>
<body>
    <div class="modal-dialog modal-dialog-centered wd-sm-400" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40">
                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div style="text-align:center;padding-bottom:10px;">
                            <img class="footer-logo" src="~/Content/theme/images/logo.jpg" alt="" />
                        </div>
                        <div class="form-group">
                            <label>Username or Employee ID</label>
                            @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", @id = "tbUserName", @placeholder = "Enter your username or employee ID", @required = true, @autofocus = true, @autocomplete = "off", @tabindex = 1 })
                        </div>
                        @if (@ViewBag.Message != null)
                        {
                            <div>
                                <label style="color:red">@ViewBag.Message</label>
                            </div>
                        }
                        <div id="content">
                        </div>
                        <button class="btn btn-primary btn-block" tabindex=3>Sign In</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // tolak IE
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
        {
            document.getElementById("content").innerHTML="<label style='color:red'>IE browser is not compatible for FAST. <br />Please use Edge or Chrome instead.</label>";
            //alert(parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))));
        }
        else  // If another browser, return 0
        {
            //alert(ua);
        }

        //chanif: force https kecuali di local
        if (location.hostname === "localhost") {
            //alert('local');
        } else {
            if (location.protocol != 'https:')
            {
                location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
            }
        }
    </script>
</body>
</html>