
@{
    ViewBag.Title = "Index";
}

@section Styles{
    <style>
        .flex-input {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex-break {
            flex-basis: 100%;
            height: 0;
        }

        .tableWrapper {
            position: relative;
            overflow: auto;
            max-height: 150px;
            transform: translateZ(0);
        }

            .tableWrapper table {
                border-collapse: separate;
                width: 100%;
                border: none;
            }

            .tableWrapper thead th, .tableWrapper thead td {
                position: -webkit-sticky;
                position: sticky;
                background: #066fcb;
                z-index: 100;
            }

            .tableWrapper table tfoot td {
                position: -webkit-sticky;
                position: sticky;
                bottom: 0;
                z-index: 100;
                overflow:hidden;
            }

            .tableWrapper .input td {
                background: white;
            }

            .tableWrapper .summary-body td, .tableWrapper .summary-body th {
                font-weight: bold;
                background-color: #d8eafe;
                color: #000;
            }
            .tableWrapper .summary-body.hidden td, .tableWrapper .summary-body.hidden th {
                padding: unset;
                border: 0;
            }

        .fa, .fas {
            padding: 5px;
            cursor: pointer;
        }

        .nav-link {
            cursor: pointer;
        }

        .modal-body {
            position: relative;
            margin-top: 10px;
        }

            .modal-body .close {
                padding: 5px;
                position: absolute;
                top: -5px;
                right: 5px;
                font-size: 15px;
                color: black;
                z-index: 1000;
            }

        .stepper {
            position: relative;
        }

            .stepper:before {
                top: 15px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background: #f1f1f1;
                z-index: 0;
            }

        .stepper-step {
            text-align: center;
            position: relative;
        }

            .stepper-step.active .stepper-btn {
                background: #37b6fa;
                color: white;
                font-weight: 500;
                border: 0
            }

        .stepper-btn {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            background: #e6e6e6;
            color: #9c9c9c;
        }

        .wizard-button {
            margin: 5px;
        }

            .wizard-button.active {
                filter: brightness(0.75);
            }

        .select2-container--default .select2-selection--single {
            height: 25px;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                display: none;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 13px;
                padding: 5px;
            }

        .select2-search--dropdown {
            padding: 1px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            padding: 3px 5px;
        }

        .select2-results {
            font-size: 13px;
        }

        .select2-results__option {
            padding: 3px;
        }
    </style>
}


<div class="content content-fixed lph-form">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">LPH Form</a></li>
                        <li class="breadcrumb-item active" aria-current="page">White Line Waste DCCC</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">LPH White Line Waste DCCC</h4>
            </div>
            <div class="d-none d-md-block">
                <button id="goPrev" class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="chevron-left" class="wd-10 mg-r-5"></i> Prev</button>
                <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5" id="btnHistory"><i data-feather="clock" class="wd-10 mg-r-5"></i> History</button>
                @if (Model.ViewType == "index" || Model.ViewType == "index_restore" || Model.ViewType == "edit")
                {
                    @: <button class="btn btn-sm pd-x-15 btn-uppercase btn-white" id="btnSave2"><i data-feather="save" class="wd-10 mg-r-5"></i>Save</button>
                }
                <button class="btn btn-sm pd-x-15 btn-uppercase btn-primary d-none" id="btnSave"><i data-feather="save" class="wd-10 mg-r-5"></i> Submit</button>
                <button class="btn btn-sm pd-x-15 btn-uppercase btn-secondary d-none" id="btnReset"><i data-feather="refresh-cw" class="wd-10 mg-r-5"></i> Reset</button>
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5" onclick="javascript:window.print()"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Information</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Date</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="Thu / 05-Sep-19">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Shift</label>
                                <div class="col-3">
                                    @*<input type="text" class="form-control" disabled value="3">*@
                                    <select class="form-control select2">
                                        @*<option label="Choose one"></option>*@
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <label class="col-3 col-form-label tx-right">Week</label>
                                <div class="col-2">
                                    <input type="text" class="form-control" disabled value="22">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Prodtech</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="Dimastya Subekti">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Supervisor</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="Andi">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Batch No.</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" value="839102403">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">SAP Batch</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="sapBatch">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Blend</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="blend">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Formula Rev.</label>
                                <div class="col-4">
                                    <div class="input-group">
                                        <input id="formulaRev" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--INFORMATION-->


            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">
                        Handover Logbook
                    </div>
                    <div class="card-body">
                        <div class="tableWrapper" style="max-height: 210px">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-info">
                                    <tr>
                                        <th>Downtime</th>
                                        <th>Problem</th>
                                        <th>Description</th>
                                        <th style="width:60px;">Start</th>
                                        <th style="width:60px;">End</th>
                                        <th style="width:80px;">Duration</th>
                                        <th>PIC</th>
                                        <th>Status</th>
                                        <th>Action Plan</th>
                                        <th></th>
                                    </tr>
                                    <tr class="summary-body">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>180 Min</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="machine-problem">
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr class="input">
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="301">301 Minor Stop</option>
                                                <option value="302">302 Proces Adjustment</option>
                                                <option value="401">401 Breakdown</option>
                                                <option value="501">501 Distruption of Material Flow</option>
                                                <option value="601">601 Cleaning</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control" disabled="" value="0 Min"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="1">Done</option>
                                                <option value="2">On Progres</option>
                                                <option value="3">Pending</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="301">SLAC</option>
                                                <option value="302">CBM</option>
                                                <option value="303">PM</option>
                                            </select>
                                        </td>
                                        <td class="tx-center"><i onclick="javascript:addRow(this)" data-target="machine-problem" class="fa fa-plus-circle"></i></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- PROBLEM MESIN -->


            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Waste</div>
                    <div class="card-body" style="padding:10px">
                        <div class="row" style="margin:0">
                            <div class="col-2" style="padding: 0 10px 0 0">
                                <table class="table table-bordered table-hover table-striped" style="min-height:150px;">
                                    <thead class="thead-info">
                                        <tr>
                                            <th class="tx-center"><label class="tx-center" style="margin:0px;"> Weight</label></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row form-group" style="margin-left: 0; margin-right: 0">
                                                    <div class="col-12 tx-center" style="margin-right:0px;">
                                                        <label class="tx-center font-weight-bold" style="font-size:32px;margin-right:0px;">19.55 Kg</label>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-3 tx-center">
                                                        <label class="tx-center">&nbsp;</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" class="phase-show btn btn-lg btn-primary " style="width:100%;padding-right:5px;padding-left:5px" data-toggle="modal" data-target="#phase-waste-modal">Add</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tableWrapper col-10">
                                <table class="table table-bordered table-hover table-striped ">
                                    <thead class="thead-info">
                                        <tr>
                                            <th>Description</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>Group</th>
                                            <th>Freq</th>
                                            <th>Weight</th>
                                            <th></th>
                                        </tr>
                                        <tr class="summary-body">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>35</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody id="waste"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- WASTE -->


            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Approval</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                    <th style="width:15%;">Date &amp; Time</th>
                                    <th style="width:40%;">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bagas</td>
                                    <td>Requester</td>
                                    <td>Submit to Supervisor</td>
                                    <td>05-Sep-19 13:15</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Bagus</td>
                                    <td>Supervisor</td>
                                    <td>Confirmed</td>
                                    <td>05-Sep-19 13:25</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--APPROVAL SEGMENT-->

        </div>
    </div>
</div>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- content -->
<!-- content -->

<div class="modal fade wizard-modal" id="phase-waste-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close"><i data-dismiss="modal" class="fa fa-times"></i></div>

                <div class="stepper row">
                    <div class="stepper-step col active">
                        <a class="btn stepper-btn">1</a>
                        <p><small>Area</small></p>
                    </div>
                    <div class="stepper-step col">
                        <a class="btn stepper-btn">2</a>
                        <p><small>Description</small></p>
                    </div>
                </div>

                <div id="carousel" class="carousel slide" data-pause="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h5>Machine</h5>
                            <hr />
                            <center class="area">
                            </center>
                        </div>

                        <div class="carousel-item">
                            <h5>Machine Number</h5>
                            <hr />
                            <center class="desc">
                            </center>
                        </div>
                    </div>
                </div>

                <hr>
                <div style="min-height:30px">
                    <button type="button" class="btn btn-xs btn-white prev" style="float:left;display:none;">Prev</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>$(function () {
$('.select2').select2({
		allowClear: true,
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search options'
            });
        })</script>
    <script>const machineProblemRow = `<td>301 Minor Stop</td><td>Bobbin Putus</td><td>Mesin AUS</td><td>12:00</td><td>13:00</td><td>60 Min</td><td>Hengki</td><td>Done</td><td>CBM</td><td class="tx-center"><div class="btn-group"><i data-target="machine-problem" onclick="javascript:toEdit(this)" class="fa fa-edit"></i><i onclick="javascript:removeRow(this)" class="fa fa-trash"></i></div></td>`;
        const machineProblemEditRow = `<td><select class="form-control select2"><option label="Choose one"></option><option value="301">301 Minor Stop</option><option value="302">302 Proces Adjustment</option><option value="401">401 Breakdown</option><option value="501">501 Distruption of Material Flow</option><option value="601">601 Cleaning</option></select></td><td><input type="text" class="form-control" value="Bobbin Putus"></td><td><input type="text" class="form-control" value="Mesin AUS"></td><td><input type="text" class="form-control" value="12:00"></td><td><input type="text" class="form-control" value="13:00"></td><td><input type="text" class="form-control" disabled value="60 Min"></td><td><input type="text" class="form-control" value="Hengki"></td><td><select class="form-control select2"><option label="Choose one"></option><option value="1" selected>Done</option><option value="2">On Progres</option><option value="3">Pending</option></select></td><td><select class="form-control select2"><option label="Choose one"></option><option value="301">SLAC</option><option value="302" selected>CBM</option><option value="303">PM</option></select></td><td class="tx-center"><i data-target="machine-problem" onclick="javascript:toNormal(this)" class="fa fa-save"></i><i onclick="javascript:removeRow(this)" data-target="machine-problem" class="fa fa-trash"></i></td>`;

        function toEdit(button) {
            const target = $(button).data("target");
            switch (target) {
                case "machine-problem":
                    $(button).parents("tr").html(machineProblemEditRow);
                    break;
            }
        }
        function toNormal(button) {
            if (confirm("Are you sure?")) {
                const target = $(button).data("target");
                switch (target) {
                    case "machine-problem":
                        $(button).parents("tr").html(machineProblemRow);
                        break;
                }
            }
        }
        function addRow(button) {
            const target = $(button).data("target");
            switch (target) {
                case "machine-problem":
                    $("#" + target).append($(`<tr>${machineProblemRow}</tr>`));
                    break;
            }
        }
        function removeRow(button) {
            if (confirm("Are you sure?")) {
                $(button).parents("tr").remove();
            }
        }
        var escapeChars = {
            '¢': 'cent',
            '£': 'pound',
            '¥': 'yen',
            '€': 'euro',
            '©': 'copy',
            '®': 'reg',
            '<': 'lt',
            '>': 'gt',
            '"': 'quot',
            '&': 'amp',
            '\'': '#39'
        };

        var regexString = '[';
        for (var key in escapeChars) {
            regexString += key;
        }
        regexString += ']';

        var regex = new RegExp(regexString, 'g');

        function escapeHTML(str) {
            return str.replace(regex, function (m) {
                return '&' + escapeChars[m] + ';';
            });
        };
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
        }

        function generateRow(data, targetTable) {
            let r = "";
            for (var prop in data) {
                if (Object.prototype.hasOwnProperty.call(data, prop)) {
                    if (prop == "id") continue;
                    r += `<td data-name="${prop}">${data[prop]}</td>`;
                }
            }
            r += `<td class="tx-center">`;
            r += `<i onclick="javascript:editData(this)" data-id="${data.id}" data-target-table="${targetTable}" class="fa fa-edit edit"></i>`;
            r += `<span onClick="javascript:deleteData(this)" data-id="${data.id}" data-target-table="${targetTable}"><i class="fa fa-trash"></i></span>`;
            r += `</td >`;
            return r;
        }
        function generateTable(arr, targetTable) {
            if (arr.length == 0) return "";
            let rows = "";
            //const keys = Object.keys(arr[0]);
            //console.log(keys);
            for (var i = arr.length - 1; i >= 0; i--) {
                rows += '<tr>';
                rows += generateRow(arr[i], targetTable);
                rows += '</tr>';
            }
            return rows;
        }
        function findInArray(id, crr) {
            for (var i = 0; i < crr.length; i++) {
                if (crr[i].id == id) {
                    return i;
                }
            }
        }
        function deleteFromArray(id, crr) {
            crr.splice(findInArray(id, crr), 1);
            return crr;
        }
        function deleteData(button) {
            if (confirm("Are you sure?")) {
                const id = $(button).data("id");
                const targetTable = $(button).data("target-table");
                var tableBody = "";
                switch (targetTable) {
                    case "#waste":
                        crrData = deleteFromArray(id, wasteData);
                        tableBody = generateTable(wasteData, targetTable);
                        break;
                }
                $(targetTable).html(tableBody);
            }
        }
        function editData(button) {
            const tds = $(button).parents("tr").children('td');
            const tdsCount = $(tds).length;
            $(tds).each(function (i, e) {
                if (i == tdsCount - 1) {
                    const edit = $(e).find(".edit");
                    $(edit).attr("onclick", "javascript:normalData(this)");
                    $(edit).removeClass("fa-edit");
                    $(edit).addClass("fa-save");
                } else if (i == tdsCount - 2) {
                    const html = $(e).html();
                    $(e).html(`<input type="text" class="form-control" value="${html}">`);
                } else {
                    const html = $(e).html();
                    $(e).html(`<input type="text" class="form-control" value="${html}" disabled>`);
                }
            });
        }
        function normalData(button) {
            if (confirm("Are you sure?")) {
                const id = $(button).data("id");
                const targetTable = $(button).data("target-table");
                const tds = $(button).parents("tr").children('td');
                const tdsCount = $(tds).length;
                let row = "";
                switch (targetTable) {
                    case "#waste":
                        const index = findInArray(id, wasteData);
                        $(tds).each(function (i, e) {
                            if (i != tdsCount - 1) {
                                wasteData[index][$(e).data("name")] = $(e).find("input").val();
                            } else {
                                const edit = $(e).find(".edit");
                                $(edit).attr("onclick", "javascript:editData(this)");
                                $(edit).removeClass("fa-save");
                                $(edit).addClass("fa-edit");
                            }
                        });
                        row = generateRow(wasteData[index], targetTable)
                        console.log(wasteData);
                        break;
                }
                $(button).parents("tr").html(row);
            }
        }
        const wasteOpt = [
            {
                area: "DCCC",
                group: "A",
                child: [
                    {
                        desc: "Conveyor belt discharge DCCC",
                        address: "320.0189A",
                    },
                    {
                        desc: "Conveyor SRS",
                        address: "320.0189B",
                    },
                    {
                        desc: "Conveyor after SRS",
                        address: "320.075",
                    },
                    {
                        desc: "Take up conveyor",
                        address: "320.021A",
                    },
                    {
                        desc: "Inching Conveyor",
                        address: "320.024",
                    },
                ]
            },
            {
                area: "Total Blend",
                group: "B",
                child: [
                    {
                        desc: "Conveyor disch. Silo 360.001&340.029",
                        address: "320.032",
                    },
                    {
                        desc: "Conveyor disch. Silo 360.021&340.030",
                        address: "320.033",
                    },
                    {
                        desc: "Conveyor disch. Silo 340.001",
                        address: "320.004",
                    },
                    {
                        desc: "Conveyor disch. Silo 340.002",
                        address: "320.005",
                    },
                    {
                        desc: "Conveyor after disch. Silo total blend",
                        address: "340.034",
                    },

                    {
                        desc: "Conveyor before WCON input cutter",
                        address: "340.035",
                    },
                    {
                        desc: "WCON input cutter",
                        address: "400.010",
                    },
                    {
                        desc: "Conveyor after WCON input cutter",
                        address: "340.034",
                    },
                    {
                        desc: "take up conveyor A",
                        address: "360.007",
                    },
                ]
            },
            {
                area: "Area Metal",
                group: "C",
                child: [
                    {
                        desc: "Conveyor Addback reject metal",
                        address: "400.012",
                    },
                    {
                        desc: "Conveyor after Addback reject metal",
                        address: "320.019A",
                    },
                    {
                        desc: "Vibro Sieving 1",
                        address: "340.014",
                    },
                    {
                        desc: "Vibro Sieving 2",
                        address: "400.014",
                    },
                    {
                        desc: "Conveyor Metal 1",
                        address: "400.015",
                    },

                    {
                        desc: "Conveyor reject Metal 1",
                        address: "400.018",
                    },
                    {
                        desc: "Conveyor Metal 2",
                        address: "400.020",
                    },
                    {
                        desc: "Conveyor reject Metal 2",
                        address: "400.013",
                    },
                ]
            },
            {
                area: "Cutter to FTD",
                group: "D",
                child: [
                    {
                        desc: "Conveyor cutter feed 1",
                        address: "400.045",
                    },
                    {
                        desc: "Conveyor cutter feed 2",
                        address: "400.046",
                    },
                    {
                        desc: "Conveyor cutter feed 3",
                        address: "400.065",
                    },
                    {
                        desc: "Conveyor cutter feed CUTR 032",
                        address: "400.090",
                    },
                    {
                        desc: "Conveyor cutter feed CUTR 033",
                        address: "400.080",
                    },

                    {
                        desc: "Conveyor cutter feed CUTR 125",
                        address: "400.060",
                    },
                    {
                        desc: "Feedbad, DTOF & Cutter area",
                        address: "",
                    },
                    {
                        desc: "Conveyor discharge Cutter 1",
                        address: "400.340",
                    },
                    {
                        desc: "Conveyor discharge Cutter 2",
                        address: "400.041",
                    },
                    {
                        desc: "Take up Conveyor 1",
                        address: "450.05",
                    },

                    {
                        desc: "Take up Conveyor 2",
                        address: "450.07",
                    },
                    {
                        desc: "Auto feeder FTD",
                        address: "450.011",
                    },
                ]
            },
        ];
        var wasteNewData = {};
        var wasteData = [
            {
                id: uuidv4(),
                desc: "Conveyor disch. Silo 360.021&340.030",
                address: "320.033",
                area: "Total Blend",
                group: "B",
                freq: "Daily",
                weight: "34",
            },
            {
                id: uuidv4(),
                desc: "Conveyor SRS",
                address: "320.0189B",
                area: "DCCC",
                group: "A",
                freq: "Daily",
                weight: "15",
            },
        ];


        var selected;
        function wizardButtonSetSelection(button) {
            selected = $(button).html();
            wizardButtonNext(button);
        }
        function wizardButtonNext(button) {
            const modal = $(button).parents(".modal");
            const carousel = $(modal).find('.carousel');
            const index = $(carousel).find('.carousel-item.active').index();
            const stepper = $(modal).find('.stepper');

            var info = { shouldReturn: false, shouldHide: false };
            $(modal).trigger("next", [index, info]);
            if (info.shouldReturn) return;
            if (info.shouldHide) { $(modal).modal('hide'); return; }

            $(stepper).children('.active').removeClass("active");

            $(carousel).carousel('next');
            $(stepper).children(`.stepper-step:nth-child(${index + 2})`).toggleClass("active");
            $(modal).find(".prev").show();
        };
        function generateWizardButton(arr) {
            let r = "";
            for (var i = 0; i < arr.length; i++) {
                r += `<button type="button" class="wizard-button btn btn-primary" onclick="javascript:wizardButtonSetSelection(this)">${arr[i]}</button>`;
            }
            return r;
        }

        $(document).ready(function () {
            $('.tableWrapper thead tr').each(function () {
                const top = $(this).position().top;
                $(this).children().css({ "top": top });
            });
            $("#waste").html(generateTable(wasteData, "#waste"));

            $(".wizard-modal .next").click(function () {
                wizardButtonNext(this);
            });
            $(".wizard-modal .prev").click(function () {
                const modal = $(this).parents(".modal");
                const carousel = $(modal).find('.carousel');
                const stepper = $(modal).find('.stepper');
                const index = $(carousel).find('.carousel-item.active').index();

                $(stepper).children('.active').removeClass("active");

                $(carousel).carousel('prev');
                $(stepper).children(`.stepper-step:nth-child(${index})`).toggleClass("active");
                if (index == 1) $(modal).find(".prev").hide();
            });
            $('.wizard-modal').on('hidden.bs.modal', function (e) {
                const carousel = $(this).find('.carousel');
                const stepper = $(this).find('.stepper');
                $(this).find('.active').removeClass("active");
                $(stepper).children(".stepper-step:first-child").toggleClass("active");
                $(carousel).find(".carousel-item:first-child").toggleClass("active");
                $(this).trigger("hide");
                $(this).find(".prev").hide();
            });
            $('#phase-waste-modal').on('show.bs.modal', function (e) {
                let opts = [];
                for (var i = 0; i < wasteOpt.length; i++) {
                    opts.push(wasteOpt[i].area);
                }
                $(this).find(".area").html(generateWizardButton(opts));
            });
            $('#phase-waste-modal').on('next', function (e, i, info) {
                if (!selected) {
                    info.shouldReturn = true;
                    return;
                }
                switch (i) {
                    case 0:
                        for (var i = 0; i < wasteOpt.length; i++) {
                            if (wasteOpt[i].area == selected) {
                                let opts = [];
                                for (var j = 0; j < wasteOpt[i].child.length; j++) {
                                    opts.push(wasteOpt[i].child[j].desc);
                                }
                                $(this).find(".desc").html(generateWizardButton(opts));
                            }
                        }
                        selected = null;
                        break;
                    case 1:
                        info.shouldHide = true;
                        wasteNewData.id = uuidv4();
                        for (var i = 0; i < wasteOpt.length; i++) {
                            for (var j = 0; j < wasteOpt[i].child.length; j++) {
                                if (escapeHTML(wasteOpt[i].child[j].desc) == selected) {
                                    wasteNewData.desc = wasteOpt[i].child[j].desc;
                                    wasteNewData.address = wasteOpt[i].child[j].address;
                                    wasteNewData.area = wasteOpt[i].area;
                                    wasteNewData.group = wasteOpt[i].group;
                                    break;
                                }
                            }
                        }
                        wasteNewData.freq = "Daily";
                        wasteNewData.weight = "19.55";
                        wasteData.push(wasteNewData);
                        tableBody = generateTable(wasteData, '#waste');
                        $('#waste').html(tableBody);
                        break;
                }
            });
            $('#phase-waste-modal').on('hide', function (e) {
                wasteNewData = {};
                selected = null;
            });
        });
         $('#btnHistory').on('click', function (e) {
		     location.href = '@Url.Action("Index", "HistoryPrimary")';
          });
    </script>
}



