@section Styles{

    <link href="~/Content/dashforge/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
    <style>
        .dtButton {
            margin-right: 8px;
        }

        .dtAddButton {
            margin-right: 15px;
        }

        .dtMarginTop {
            margin-top: 20px;
        }

        th {
            padding: 4px 10px !important;
            color: #fff;
            background-color: #0168fa !important;
        }

        td {
            padding: 4px 10px !important;
            line-height: 1.5;
            vertical-align: middle !important;
        }

        .btnx {
            display: inline-block;
            font-weight: 400;
            color: #001737;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            padding: 0px !important;
            margin-left: 20px !important;
        }

        table, th, td {
            border: 2px solid black;
        }
    </style>
}

<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div>
            <h4>Barcode</h4>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <label>ID: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtID" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>Status: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtStatus" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Title Name: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtTitle" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>Brand Name: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtBrand" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <label>Bruto (KG): </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtBruto" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>Pieces: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtPieces" class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-2">
                    <label>Netto (KG): </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtNetto" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>Tanggal: </label>
                </div>
                <div class="col-md-3">
                    <input type="date" name="bday" id="txtDate">
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-2">
                    <label>Jam: </label>
                </div>
                <div class="col-md-3">
                    <input type="time" name="usr_time" id="txtTime">
                </div>
                <div class="col-md-2">
                    <label>Shift: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtShift" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <label>Group: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtGroup" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>Operator: </label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtOperator" class="form-control" />
                </div>
            </div>
            <br />

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-sm btn-info" id="btnGenerate">Generate</button>
                    <button class="btn btn-sm btn-primary" id="btnPrint" onclick="printDiv('templateVal')">Print</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label>Result: </label><br />
                    <div id="bcResult"></div>
                    <label>Result with Template: </label><br /><br />
                    <div id="templateVal">
                        <table width="1000" height="650" style="border: 2px solid black;">
                            <tr>
                                <td style="text-align:center" colspan="3"><b><label id="lblTitleTemp" style="font-size:36px"></label></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; border-bottom:none;" colspan="3"> <div id="bcTemp"></div></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; border-bottom: none;border-top:none;" colspan="3"><b><label id="lblBrandTemp" style="font-size:66px"></label></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; border-bottom: none;border-right:none;"><b><label>Bruto (KG)</label></b></td>
                                <td style="text-align:center; border-bottom: none;border-left:none;border-right:none;"><b><label>PCS</label></b></td>
                                <td style="text-align:center; border-bottom: none;border-left:none;"><b><label>Netto (KG)</label></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-top: none;border-right:none;"><b><label id="lblBrutoTemp" style="font-size:20px"></label></b></td>
                                <td style="text-align:center;border-top: none;border-left:none;border-right:none;"><b><label id="lblPieceTemp" style="font-size:20px"></label></b></td>
                                <td style="text-align:center;border-top: none;border-left:none;"><b><label id="lblNettoTemp" style="font-size:20px"></label></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border-bottom: none;border-right:none;"><b><label>Tgl / Jam</label></b></td>
                                <td style="text-align:left;border-bottom: none;border-left:none;" colspan="2">:&nbsp;<b><label id="lblDateTemp"></label></b>&nbsp; / &nbsp;<b><label id="lblTimeTemp" style="font-size:16px"></label></b></td>

                            </tr>
                            <tr>
                                <td style="text-align:left; border-bottom: none;border-top: none;border-right:none;"><b><label>Shift / Group</label></b></td>
                                <td style="text-align:left; border-bottom: none;border-top: none;border-left:none;" colspan="2">: &nbsp;<b><label id="lblShiftTemp" style="font-size:16px"></label></b> / <b><label id="lblGroupTemp" style="font-size:16px"></label></b></td>

                            </tr>
                            <tr>
                                <td style="text-align:left; border-top: none;border-right:none;"><b><label>Operator</label></b></td>
                                <td style="text-align:left; border-top: none;border-left:none;" colspan="2">: &nbsp;<b><label id="lblOperatorTemp" style="font-size:16px"></label></b></td>

                            </tr>
                            <tr>
                                <td style="text-align:center" colspan="2" rowspan="2"><b><label id="lblStatusTemp" style="font-size:40px"></label></b></td>
                                <td style="text-align:center; border-bottom: none;"><b><label>Verifikasi:</label></b></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; border-top:none;"><b><label>( &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;)</label></b></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/Content/dashforge/lib/prismjs/prism.js"></script>
    <script src="~/Content/dashforge/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            function convertDate(inputFormat) {
                  function pad(s) { return (s < 10) ? '0' + s : s; }
                  var d = new Date(inputFormat)
                  return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('-')
                }


            document.getElementById("templateVal").style.display = "none";
            $('#btnGenerate').on('click', function () {

                var idVal = $('#txtID').val();
                var titleVal = $('#txtTitle').val();
                var brandVal = $('#txtBrand').val();
                var brutoVal = $('#txtBruto').val();
                var pieceVal = $('#txtPieces').val();
                var nettoVal = $('#txtNetto').val();
                var dateVal = $('#txtDate').val();
                var resDate = convertDate(dateVal);
                var timeVal = $('#txtTime').val();
                var shiftVal = $('#txtShift').val();
                var groupVal = $('#txtGroup').val();
                var operatorVal = $('#txtOperator').val();
                var statusVal = $('#txtStatus').val();

                var res = idVal + brandVal + brutoVal + nettoVal + pieceVal + shiftVal + groupVal;

                var link = '@Url.Action("RenderBarcode", "Barcode")?sample=' + res;

                document.getElementById("bcResult").innerHTML = '<img src=' + link + ' />';
                document.getElementById("bcTemp").innerHTML = '<img src=' + link + ' />';

                document.getElementById("lblTitleTemp").innerHTML = titleVal;
                document.getElementById("lblBrandTemp").innerHTML = brandVal;
                document.getElementById("lblBrutoTemp").innerHTML = brutoVal;
                document.getElementById("lblPieceTemp").innerHTML = pieceVal;
                document.getElementById("lblNettoTemp").innerHTML = nettoVal;

                document.getElementById("lblDateTemp").innerHTML = resDate;
                document.getElementById("lblTimeTemp").innerHTML = timeVal;
                document.getElementById("lblShiftTemp").innerHTML = shiftVal;
                document.getElementById("lblGroupTemp").innerHTML = groupVal;
                document.getElementById("lblOperatorTemp").innerHTML = operatorVal;
                document.getElementById("lblStatusTemp").innerHTML = statusVal;

                document.getElementById("templateVal").style.display = "block";
            });

        });

        function printDiv(divName) {

             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;

             document.body.innerHTML = printContents;
             window.print();

             document.body.innerHTML = originalContents;

        }

    </script>
}





