
@{
    ViewBag.Title = "Index";
}
@section CSS_lib{
    <link href="~/Content/dashforge/lib/select2/css/select2.min.css" rel="stylesheet">
}
@section Styles{
    <style>
        .flex-input {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex-break {
            flex-basis: 100%;
            height: 0;
        }

        .tableWrapper {
            position: relative;
            overflow: auto;
            max-height: 150px;
            transform: translateZ(0);
        }

            .tableWrapper table {
                border-collapse: separate;
                width: 100%;
                border: none;
            }

            .tableWrapper thead th, .tableWrapper thead td {
                position: -webkit-sticky;
                position: sticky;
                background: #066fcb;
                z-index: 100;
            }

            .tableWrapper table tfoot td {
                position: -webkit-sticky;
                position: sticky;
                bottom: 0;
                z-index: 100;
                overflow: hidden;
            }

            .tableWrapper .input td {
                background: white;
            }

            .tableWrapper .summary-body td, .tableWrapper .summary-body th {
                font-weight: bold;
                background-color: #d8eafe;
                color: #000;
            }

            .tableWrapper .summary-body.hidden td, .tableWrapper .summary-body.hidden th {
                padding: unset;
                border: 0;
            }

        .fa, .fas {
            padding: 5px;
            cursor: pointer;
        }

        .nav-link {
            cursor: pointer;
        }

        .modal-body {
            position: relative;
            margin-top: 10px;
        }

            .modal-body .close {
                padding: 5px;
                position: absolute;
                top: -5px;
                right: 5px;
                font-size: 15px;
                color: black;
                z-index: 1000;
            }

        .stepper {
            position: relative;
        }

            .stepper:before {
                top: 15px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background: #f1f1f1;
                z-index: 0;
            }

        .stepper-step {
            text-align: center;
            position: relative;
        }

            .stepper-step.active .stepper-btn {
                background: #37b6fa;
                color: white;
                font-weight: 500;
                border: 0
            }

        .stepper-btn {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            background: #e6e6e6;
            color: #9c9c9c;
        }

        .wizard-button {
            margin: 5px;
        }

            .wizard-button.active {
                filter: brightness(0.75);
            }

        .select2-container--default .select2-selection--single {
            height: 25px;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                display: none;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 13px;
                padding: 5px;
            }

        .select2-search--dropdown {
            padding: 1px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            padding: 3px 5px;
        }

        .select2-results {
            font-size: 13px;
        }

        .select2-results__option {
            padding: 3px;
        }
    </style>
}


<div class="content content-fixed lph-form">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Report</a></li>
                        <li class="breadcrumb-item active" aria-current="page">CRR</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Report CRR</h4>
            </div>
            <div class="d-none d-md-block">
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="chevron-left" class="wd-10 mg-r-5"></i> Prev</button>
                <button id="btnHistory" class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="clock" class="wd-10 mg-r-5"></i> History</button>
                <button id="btnSave" class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="save" class="wd-10 mg-r-5"></i> Save</button>
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mg-b-20">
                <div class="card collect-component" id="Information">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Information</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label ">Brand :</label>
                                <div class="col-6">
                                    <select class="form-control select2">
                                        <option label="Select Prod Center"></option>
                                        <option value="PJ-Sampoerna-Sukorejo">PJ-Sampoerna Sukorejo</option>
                                        <option value="PK-Sampoerna-Karawang">PK-Sampoerna Karawang</option>
                                        <option value="PI-PhilipMorris-ID">PI-Philip Morris ID</option>
                                        <option value="PB-PT-SIS-Sukorejo">PB-PT SIS Sukorejo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Department :</label>
                                <div class="col-6">
                                    <select class="form-control select2">
                                        <option label="Select Departement"></option>
                                        <option value="PP-Primary-Processing">PP-Primary Processing</option>
                                        <option value="PP-Secondary-Processing">PP-Secondary Processing</option>
                                        <option value="SO-Secondary-OTP">SO-Secondary OTP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Sub-Dept :</label>
                                <div class="col-6">
                                    <select class="form-control select2">
                                        <option label="Select Sub-Dept"></option>
                                        <option value="Maker">Maker</option>
                                        <option value="Packer">Packer</option>
                                        <option value="KDF-Filter">KDF Filter</option>
                                        <option value="Ripper">Ripper</option>
                                        <option value="etc">Palletizer, etc</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--INFORMATION-->



            <div class="col-6 mg-b-20">
                <div class="card collect-component" id="Information">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">CRR</div>
                    <div class="card-body">
                        <div class="col-12" id="tabelCrr">
                            <div class="card card-dashboard-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Prod Center</th>
                                                <th>Departemenet</th>
                                                <th>Sub-Dept</th>
                                                <th>Area</th>
                                                <th>Weight (kg)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Maker</strong></td>
                                                <td><strong>57</strong></td>
                                                <td><strong>2588.108</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Paker</strong></td>
                                                <td><strong>57</strong></td>
                                                <td><strong>893.778</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Maker</strong></td>
                                                <td><strong>58</strong></td>
                                                <td><strong>501.889</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Paker</strong></td>
                                                <td><strong>58</strong></td>
                                                <td><strong>663.002</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Maker</strong></td>
                                                <td><strong>59</strong></td>
                                                <td><strong>1203.778</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Paker</strong></td>
                                                <td><strong>59</strong></td>
                                                <td><strong>715.667</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Maker</strong></td>
                                                <td><strong>51</strong></td>
                                                <td><strong>2037.225</strong></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">PB-PT SIS Sidoarjo</a></td>
                                                <td><strong>SP-Secondary Processing</strong></td>
                                                <td><strong>Paker</strong></td>
                                                <td><strong>51</strong></td>
                                                <td><strong>771.999</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- table-responsive -->
                            </div><!-- card -->
                        </div>

                        <div class="col-12 " id="chartCrr" style="display: none;">
                            <div class="content content-fixed col-12">
                                <div class="container pd-x-0 pd-xl-x-0">
                                    <div class="row">
                                        <h4 class="mg-b-0 tx-spacing--1">CRR Report</h4>
                                    </div>
                                    <div class="row row-xs">
                                        <div class="col-lg-12 col-xl-12">

                                            <div class="card-body pd-lg-12">
                                                <div class="row align-items-sm-end">
                                                    <div class="col-lg-12">
                                                        <div class="chart-six"><canvas id="chartBar1"></canvas></div>
                                                    </div>
                                                </div>
                                            </div><!-- card-body -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--INFORMATION-->


        </div><!-- row -->
    </div><!-- container -->
</div><!-- content -->
<!-- content -->


<script>
        $(document).ready(function () {
            $("#line-tabs li").click(function () {
                $(this).siblings().children().removeClass("active");
                $(this).children().toggleClass("active");
                const index = $(this).index() + 1;
                $("#lines .carousel-item.active").removeClass("active");
                const carouselItem = $('#lines .carousel-item:nth-child(' + index + ')');
                $(carouselItem).toggleClass("active");
                $(carouselItem).find('.tableWrapper thead tr').each(function () {
                    const top = $(this).position().top;
                    $(this).children().css({ "top": top });
                });
                ieFix();
            });
        });
</script>

<script>

    function showTableFunction() {
        var x = document.getElementById("tabelCrr");
        var y = document.getElementById("chartCrr");
        x.style.display = "block";
        y.style.display = "none";
    }

    function showChartFunction() {
        var x = document.getElementById("tabelCrr");
        var y = document.getElementById("chartCrr");
        y.style.display = "block";
        x.style.display = "none";
    }
    $(function () {
        'use strict'

        var ctx1 = document.getElementById('chartBar1').getContext('2d');
        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['57', '58', '59', '51'],
                datasets: [{
                    data: [2588.108, 501.889, 1203.778, 2037.225],
                    backgroundColor: '#66a4fb'
                }, {
                    data: [893.778, 663.002, 715.667, 771.999],
                    backgroundColor: '#65e0e0'
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false,
                    labels: {
                        display: false
                    }
                },
                scales: {
                    xAxes: [{
                        display: false,
                        barPercentage: 0.8
                    }],
                    yAxes: [{
                        gridLines: {
                            color: '#ebeef3'
                        },
                        ticks: {
                            fontColor: '#8392a5',
                            fontSize: 12,
                            min: 0,
                            max: 3000
                        }
                    }]
                }
            }
        });
    })
</script>