
@{
    ViewBag.Title = "Index";
}

@section Styles{
    <style>
        .flex-input {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex-break {
            flex-basis: 100%;
            height: 0;
        }

        .tableWrapper {
            position: relative;
            overflow: auto;
            max-height: 150px;
            transform: translateZ(0);
        }

            .tableWrapper table {
                border-collapse: separate;
                width: 100%;
                border: none;
            }

            .tableWrapper thead th, .tableWrapper thead td {
                position: -webkit-sticky;
                position: sticky;
                background: #066fcb;
                z-index: 100;
            }

            .tableWrapper table tfoot td {
                position: -webkit-sticky;
                position: sticky;
                bottom: 0;
                z-index: 100;
                overflow:hidden;
            }

            .tableWrapper .input td {
                background: white;
            }

            .tableWrapper .summary-body td, .tableWrapper .summary-body th {
                font-weight: bold;
                background-color: #d8eafe;
                color: #000;
            }
            .tableWrapper .summary-body.hidden td, .tableWrapper .summary-body.hidden th {
                padding: unset;
                border: 0;
            }

        .fa, .fas {
            padding: 5px;
            cursor: pointer;
        }

        .nav-link {
            cursor: pointer;
        }

        .modal-body {
            position: relative;
            margin-top: 10px;
        }

            .modal-body .close {
                padding: 5px;
                position: absolute;
                top: -5px;
                right: 5px;
                font-size: 15px;
                color: black;
                z-index: 1000;
            }

        .stepper {
            position: relative;
        }

            .stepper:before {
                top: 15px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background: #f1f1f1;
                z-index: 0;
            }

        .stepper-step {
            text-align: center;
            position: relative;
        }

            .stepper-step.active .stepper-btn {
                background: #37b6fa;
                color: white;
                font-weight: 500;
                border: 0
            }

        .stepper-btn {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            background: #e6e6e6;
            color: #9c9c9c;
        }

        .wizard-button {
            margin: 5px;
        }

            .wizard-button.active {
                filter: brightness(0.75);
            }

        .select2-container--default .select2-selection--single {
            height: 25px;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                display: none;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 13px;
                padding: 5px;
            }

        .select2-search--dropdown {
            padding: 1px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            padding: 3px 5px;
        }

        .select2-results {
            font-size: 13px;
        }

        .select2-results__option {
            padding: 3px;
        }
    </style>
}

<div class="content content-fixed lph-form">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">LPH Form</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rajangan</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">LPH Rajangan</h4>
            </div>
            <div class="d-none d-md-block">
                <button id="goPrev" class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="chevron-left" class="wd-10 mg-r-5"></i> Prev</button>
                <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5" id="btnHistory"><i data-feather="clock" class="wd-10 mg-r-5"></i> History</button>
                @if (Model.ViewType == "index" || Model.ViewType == "index_restore" || Model.ViewType == "edit")
                {
                    @: <button class="btn btn-sm pd-x-15 btn-uppercase btn-white" id="btnSave2"><i data-feather="save" class="wd-10 mg-r-5"></i>Save</button>
                }
                <button class="btn btn-sm pd-x-15 btn-uppercase btn-primary d-none" id="btnSave"><i data-feather="save" class="wd-10 mg-r-5"></i> Submit</button>
                <button class="btn btn-sm pd-x-15 btn-uppercase btn-secondary d-none" id="btnReset"><i data-feather="refresh-cw" class="wd-10 mg-r-5"></i> Reset</button>
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5" onclick="javascript:window.print()"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Information</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Date</label>
                                <div class="col-5">
                                    <input type="text" class="form-control" disabled value="Thu / 05-Sep-19">
                                </div>
                                <label class="col-2 col-form-label tx-right">Week</label>
                                <div class="col-2">
                                    <input type="text" class="form-control" disabled value="22">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Machine</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" disabled value="F52">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Prodtech</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="80404805 - Agung Dwi Prasetyo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Foreman</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Mekanik</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="80011429 - Jono">
                                </div>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Electric</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Supervisor</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" disabled value="80011827 - Djasmadi">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Shift / Group</label>
                                <div class="col-3">
                                    <input type="text" class="form-control" disabled value="3">
                                </div>
                                <label class="col-1 col-form-label tx-center">/</label>
                                <div class="col-3">
                                    <input type="text" class="form-control" disabled value="C">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Start / Stop</label>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input id="inputTimeStart" class="form-control" value="22:00">
                                    </div>
                                </div>
                                <label class="col-1 col-form-label">/</label>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input id="inputTimeStop" class="form-control" value="06:00">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--INFORMATION-->

            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">
                        Machine Problems
                    </div>
                    <div class="card-body" style="overflow:scroll">
                        <div class="tableWrapper" style="max-height: 210px">
                            <table class="table table-bordered table-hover table-striped" style="width:auto !important">
                                <thead class="thead-info">
                                    <tr>
                                        <th>Downtime</th>
                                        <th>Problem</th>
                                        <th>Description</th>
                                        <th style="width:6%;">Start</th>
                                        <th style="width:6%;">End</th>
                                        <th style="width:6%;">Duration</th>
                                        <th>PIC</th>
                                        <th>Status</th>
                                        <th>Action Plan</th>
                                        <th></th>
                                    </tr>
                                    <tr class="summary-body">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>180 Min</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="machine-problem">
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>301 Minor Stop</td>
                                        <td>Bobbin Putus</td>
                                        <td>Mesin AUS</td>
                                        <td>12:00</td>
                                        <td>13:00</td>
                                        <td>60 Min</td>
                                        <td>Hengki</td>
                                        <td>Done</td>
                                        <td>CBM</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-problem" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr class="input">
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="301">301 Minor Stop</option>
                                                <option value="302">302 Proces Adjustment</option>
                                                <option value="401">401 Breakdown</option>
                                                <option value="501">501 Distruption of Material Flow</option>
                                                <option value="601">601 Cleaning</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control" disabled="" value="0 Min"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="1">Done</option>
                                                <option value="2">On Progres</option>
                                                <option value="3">Pending</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control select2">
                                                <option label="Choose one"></option>
                                                <option value="301">SLAC</option>
                                                <option value="302">CBM</option>
                                                <option value="303">PM</option>
                                            </select>
                                        </td>
                                        <td class="tx-center"><i onclick="javascript:addRow(this)" data-target="machine-problem" class="fa fa-plus-circle"></i></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- PROBLEM MESIN -->
            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Machine Performance</div>
                    <div class="card-body d-flex">

                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Batch No.</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" value="819100802">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label"></label>
                                <div class="col-6">
                                    <button class="btn btn-sm pd-x-15 btn-primary" id="get-pss-data">Get PSS Data</button>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Blend</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="blend" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">SAP Batch</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="sapBatch" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">SILO Preblend</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="siloPreblend" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">SILO Bulking</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="siloBulking" value="">
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="col-3">
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Start / Stop</label>
                                <div class="input-group clockpicker col-3">
                                    <input type="text" class="form-control" id="start" value="">

                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="stop" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">No. Ops</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="noOps" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">No. Ops Tob Prep</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="noOpsTopPrep" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">NTRM Finding</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="ntrmFinding" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Total Tob Wet</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="totalTobWet" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Total Tob Dry</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="totalTopDry" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Total Weigher</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="totalWeighter" value="">
                                </div>
                            </div>
                        </div>
                        <div class="divider divider-vertical"></div>
                        <div class="col-3">

                            <div class="form-group row">
                                <label class="col-5 col-form-label">Air Temp Avg 1</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="cylinderAirTempAvg1" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Air Temp Avg 2</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="cylinderAirTempAvg2" value="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-5 col-form-label">Tob Temp Avg 1</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="tobTempAvg1" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Tob Temp Avg 2</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="tobTempAvg2" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Total Water 1</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="totalWater1" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Total Water 2</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="totalWater2" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">MC Exit OV</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="mcExitOV" value="">
                                </div>
                            </div>
                        </div>

                        <div class="divider-text divider-vertical"></div>
                        <div class="col-2">

                            <div class="form-group row">
                                <label class="col-12 col-form-label tx-center font-weight-bold">Machine Parameter</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label">Actual Water</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="actualWater" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-8 col-form-label">Drop Out Light</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="dropOutLight" value="">
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <label class="col-12 col-form-label tx-center font-weight-bold">Casing Rajangan</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-7 col-form-label">Casing App Rate</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="casingAppRate" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-7 col-form-label">Totalizer</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="totalizer" value="">
                                </div>
                            </div>
                            <hr />
                            <div class="tx-center">
                                <br />
                                <button class="btn btn-lg pd-x-15 btn-primary" id="add-to-table">Add to table</button>
                            </div>


                        </div>

                    </div>

                    <div class="card-body">
                        <div class="tableWrapper" style="max-height: 200px;overflow-x:scroll">

                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-info tx-center">
                                    <tr>
                                        <th rowspan="2" style="min-width: 120px;">Batch No.</th>
                                        <th rowspan="2" style="min-width: 100px;">Blend</th>
                                        <th rowspan="2" style="min-width: 120px;">SAP Batch</th>
                                        <th rowspan="2" style="min-width: 120px;">No. Ops</th>
                                        <th rowspan="2" style="min-width: 150px;">No. Ops Tob Prep</th>
                                        <th rowspan="2" style="min-width: 150px;">NTRM Finding</th>
                                        <th colspan="2">SILO</th>
                                        <th rowspan="2" style="min-width: 70px;">Start</th>
                                        <th rowspan="2" style="min-width: 70px;">Stop</th>
                                        <th rowspan="2" style="min-width: 80px;">Total</th>
                                        <th colspan="3">Total Tob</th>
                                        <th colspan="2">Cilinder Air Temp</th>
                                        <th colspan="2" style="min-width: 100px;">Total Water</th>

                                        <th rowspan="2" style="min-width: 90px;">MC Exit OV</th>
                                        <th rowspan="2" style="min-width: 90px;">Casing App Rate</th>
                                        <th rowspan="2" style="min-width: 90px;">Totalizer</th>
                                        <th rowspan="2" style="min-width: 100px;">Actual Water</th>
                                        <th rowspan="2" style="min-width: 120px;">Drop Out Light Separator</th>
                                        <th rowspan="2" style="min-width: 70px;"></th>
                                    </tr>
                                    <tr>
                                        <th style="min-width: 80px;">Preblend</th>
                                        <th style="min-width: 80px;">Bulking</th>
                                        <th style="min-width: 80px;">Wet</th>
                                        <th style="min-width: 80px;">Dry</th>
                                        <th style="min-width: 80px;">Total</th>

                                        <th style="min-width: 80px;">Avg 1</th>
                                        <th style="min-width: 80px;">Avg 2</th>

                                        <th style="min-width: 60px;">1</th>
                                        <th style="min-width: 60px;">2</th>
                                    </tr>
                                    <tr class="summary-body">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>150 Min</td>
                                        <td>11172</td>
                                        <td>9761,757</td>
                                        <td>20933,757</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="machine-performance">
                                    <tr>
                                        <td>819100802</td>
                                        <td>V0C3Z</td>
                                        <td>819100802</td>
                                        <td>119092603</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>300020</td>
                                        <td>06:10</td>
                                        <td>07:00</td>
                                        <td>50 Min</td>
                                        <td>3724</td>
                                        <td>3253.919</td>
                                        <td>6977,919</td>
                                        <td>64.1527</td>
                                        <td>64.1527</td>
                                        <td>178</td>
                                        <td>131</td>
                                        <td></td>
                                        <td>0.264615</td>
                                        <td>859.2</td>
                                        <td>OK</td>
                                        <td>OK</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-performance" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>819100802</td>
                                        <td>V0C3Z</td>
                                        <td>819100802</td>
                                        <td>119092603</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>300020</td>
                                        <td>06:10</td>
                                        <td>07:00</td>
                                        <td>50 Min</td>
                                        <td>3724</td>
                                        <td>3253.919</td>
                                        <td>6977,919</td>
                                        <td>64.1527</td>
                                        <td>64.1527</td>
                                        <td>178</td>
                                        <td>131</td>
                                        <td></td>
                                        <td>0.264615</td>
                                        <td>859.2</td>
                                        <td>OK</td>
                                        <td>OK</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-performance" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>819100802</td>
                                        <td>V0C3Z</td>
                                        <td>819100802</td>
                                        <td>119092603</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>300020</td>
                                        <td>06:10</td>
                                        <td>07:00</td>
                                        <td>50 Min</td>
                                        <td>3724</td>
                                        <td>3253.919</td>
                                        <td>6977,919</td>
                                        <td>64.1527</td>
                                        <td>64.1527</td>
                                        <td>178</td>
                                        <td>131</td>
                                        <td></td>
                                        <td>0.264615</td>
                                        <td>859.2</td>
                                        <td>OK</td>
                                        <td>OK</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-performance" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Capture by Webcam</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <div class="col-12" id="image_1_hide">
                                    <center>
                                        <img src="~/Content/dashforge/assets/img/upload-img-mini.png" id="image_1" class="input-img rounded mx-auto d-block" onclick="infoId(this)" data-toggle="modal" data-target="#photo-modal" alt="insert image" width="auto">
                                    </center>
                                </div>
                                <div class="col-12" id="image_1_show">
                                </div>
                                <div class="col">
                                    <center>
                                        <label class="col-12 col-form-label"><i>Label Casing</i></label>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Approval </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                    <th style="width:15%;">Date &amp; Time</th>
                                    <th style="width:40%;">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bagas</td>
                                    <td>Requester</td>
                                    <td>Submit to Supervisor</td>
                                    <td>05-Sep-19 13:15</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Bagus</td>
                                    <td>Supervisor</td>
                                    <td>Confirmed</td>
                                    <td>05-Sep-19 13:25</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--APPROVAL SEGMENT-->

        </div><!-- row -->
    </div><!-- container -->
</div><!-- content -->

<div class="modal fade wizard-modal" id="photo-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close"><i data-dismiss="modal" class="fa fa-times"></i></div>

                <div id="carousel" class="carousel slide" data-pause="true">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <h5><label id="next-1">Take Picture </label></h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <center>
                                        <select id="videoSource"><option value="" selected="selected"></option></select><br />
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <center>
                                        <video autoplay="true" width="160" height="120" id="videoElement"> </video><br />
                                        <button id="snapHat">Capture Image </button><br />
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <center>
                                        <canvas id="snapshot"></canvas><br />
                                        <p id="demo"></p>

                                        <button id="capture" hidden>Read PDF417</button>  @*don't remove *@
                                        <button id="capture3" hidden>OCR ID </button>  @*don't remove*@
                                        <button id="saveText" hidden>Save Text + Image </button>   @*don't remove *@
                                    </center>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <hr>
                <div>
                    <button type="button" id="btnNextPhoto" class="btn btn-xs btn-primary next" style="float:right">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        
    $(function(){
      'use strict'

      var inputTime1 = new Cleave('#inputTime1', {
        time: true,
        timePattern: ['h', 'm']
      });
      var inputTime2 = new Cleave('#inputTime2', {
        time: true,
        timePattern: ['h', 'm']
      });
      var inputTime3 = new Cleave('#inputTime3', {
        time: true,
        timePattern: ['h', 'm']
      });

      $('.select2').select2({
        placeholder: 'Choose one',
        searchInputPlaceholder: 'Search options'
      });
    })
  </script>
  <script>
    const machineProblemRow = `<td>301 Minor Stop</td><td>Bobbin Putus</td><td>Mesin AUS</td><td>12:00</td><td>13:00</td><td>60 Min</td><td>Hengki</td><td>Done</td><td>CBM</td><td class="tx-center"><div class="btn-group"><i data-target="machine-problem" onclick="javascript:toEdit(this)" class="fa fa-edit"></i><i onclick="javascript:removeRow(this)" class="fa fa-trash"></i></div></td>`;
    const machineProblemEditRow = `<td><select class="form-control select2">
    <option label="Choose one"></option>
    <option value="301">301 Minor Stop</option>
    <option value="302">302 Proces Adjustment</option>
    <option value="401">401 Breakdown</option>
    <option value="501">501 Distruption of Material Flow</option>
    <option value="601">601 Cleaning</option></select></td><td><input type="text" class="form-control" value="Bobbin Putus"></td><td><input type="text" class="form-control" value="Mesin AUS"></td><td><input type="text" class="form-control" value="12:00"></td><td><input type="text" class="form-control" value="13:00"></td><td><input type="text" class="form-control" disabled value="60 Min"></td><td><input type="text" class="form-control" value="Hengki"></td><td><select class="form-control select2"><option label="Choose one"></option><option value="1" selected>Done</option><option value="2">On Progres</option><option value="3">Pending</option></select></td><td><select class="form-control select2"><option label="Choose one"></option><option value="301">SLAC</option><option value="302" selected>CBM</option><option value="303">PM</option></select></td><td class="tx-center"><i data-target="machine-problem" onclick="javascript:toNormal(this)" class="fa fa-save"></i><i onclick="javascript:removeRow(this)" data-target="machine-problem" class="fa fa-trash"></i></td>`;
    const machinePerformanceRow = `<tr>
                                        <td>819100802</td>
                                        <td>V0C3Z</td>
                                        <td>819100802</td>
                                        <td>119092603</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>300020</td>
                                        <td>06:10</td>
                                        <td>07:00</td>
                                        <td>50 Min</td>
                                        <td>3724</td>
                                        <td>3253.919</td>
                                        <td>6977,919</td>
                                        <td>64.1527</td>
                                        <td>64.1527</td>
                                        <td>178</td>
                                        <td>131</td>
                                        <td></td>
                                        <td>0.264615</td>
                                        <td>859.2</td>
                                        <td>OK</td>
                                        <td>OK</td>
                                        <td class="tx-center">
                                            <div class="btn-group">
                                                <i onclick="javascript:toEdit(this)" data-target="machine-performance" class="fa fa-edit"></i>
                                                <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                            </div>
                                        </td>
                                    </tr>`;
    const machinePerformanceEditRow = `<td><input type="text" class="form-control" value="819100802"></td>
                                        <td><input type="text" class="form-control" value="V0C3Z"></td>
                                        <td><input type="text" class="form-control" value="819100802"></td>
                                        <td><input type="text" class="form-control" value="119092603"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control" value="300020"></td>
                                        <td><input type="text" class="form-control" value="06:10"></td>
                                        <td><input type="text" class="form-control" value="07:00"></td>
                                        <td><input type="text" class="form-control" value="50 Min" placeholder="min" disabled></td>
                                        <td><input type="text" class="form-control" value="3724" placeholder="Kg"></td>
                                        <td><input type="text" class="form-control" value="3253.919" placeholder="Kg"></td>
                                        <td><input type="text" class="form-control" value="6977,919" placeholder="Kg" disabled></td>
                                        <td><input type="text" class="form-control" value="64.1527"></td>
                                        <td><input type="text" class="form-control" value="64.1527"></td>
                                        <td><input type="text" class="form-control" value="178"></td>
                                        <td><input type="text" class="form-control" value="131"></td>
                                        <td><input type="text" class="form-control" value=""></td>
                                        <td><input type="text" class="form-control" value="0.264615"></td>
                                        <td><input type="text" class="form-control" value="859.2"></td>
                                        <td><input type="text" class="form-control" value="OK"></td>
                                        <td><input type="text" class="form-control" value="OK"></td>
                                        <td class="tx-center">
                                        <div class="btn-group">
                                        <i data-target="machine-performance" onclick="javascript:toNormal(this)" class="fa fa-save"></i>
                                        <i onclick="javascript:removeRow(this)" class="fa fa-trash"></i>
                                        </div>
                                        </td>`;
    function toEdit(button) {
      const target = $(button).data("target");
      switch (target) {
        case "machine-problem":
        $(button).parents("tr").html(machineProblemEditRow);
        break;
        case "machine-performance":
        $(button).parents("tr").html(machinePerformanceEditRow);
        break;
      }
    }
    function toNormal(button) {
      const target = $(button).data("target");
      switch (target) {
        case "machine-problem":
        $(button).parents("tr").html(machineProblemRow);
        break;
        case "machine-performance":
        $(button).parents("tr").html(machinePerformanceRow);
        break;
      }
    }
    function addRow(button) {
      const target = $(button).data("target");
      switch (target) {
        case "machine-problem":
        $("#" + target).append($(`<tr>${machineProblemRow}</tr>`));
        break;
        case "machine-performance":
        $("#" + target).append($(`<tr>${machinePerformanceRow}</tr>`));
        break;
      }
    }
    function removeRow(button) {
      $(button).parents("tr").remove();
    }
    const v = {
        batchNo: "819100802",
        blend: "V0C3Z",
        sapBatch: "1316543",
        siloPreblend: "250010",
        siloBulking: "300020",
        start: "10:00",
        stop: "11:00",
        noOps: "119092406",
        noOpsTopPrep: "2406",
        ntrmFinding: "",
        totalTobWet: "4583",
        totalTopDry: "4004.488",
        totalWeighter: "80",
        cylinderAirTempAvg1: "64.53998",
        cylinderAirTempAvg2: "65.91687",
        tobTempAvg1: "64.1527",
        tobTempAvg2: "64.1527",
        totalWater1: "178",
        totalWater2: "131",
        mcExitOV: "",
        actualWater: "",
        casingAppRate: "0.264615",
        totalizer: "1060"
    };
        function wizardButtonNext(button) {
            const modal = $(button).parents(".modal");
            const carousel = $(modal).find('.carousel');
            const index = $(carousel).find('.carousel-item').siblings('.active').index();
            const stepper = $(modal).find('.stepper');

            var info = { shouldReturn: false, shouldHide: false };
            $(modal).trigger("next", [index, info]);
            if (info.shouldReturn) return;
            if (info.shouldHide) { $(modal).modal('hide'); return; }

            $(stepper).children('.active').removeClass("active");

            $(carousel).carousel('next');
            $(stepper).children(`.stepper-step:nth-child(${index + 2})`).toggleClass("active");
            $(modal).find(".prev").show();
        };
    $(document).ready(function(){
            defaultDisplay();
        $("#get-pss-data").click(function(){
            const parent = $(this).parents(".card-body");
            for (var prop in v) {
                if (Object.prototype.hasOwnProperty.call(v, prop)) {
                    $(parent).find("#" + prop).val(v[prop]);
                }
            }
        });
        $("#add-to-table").click(function(){
            $("#machine-performance").append($(`<tr>${machinePerformanceRow}</tr>`));
        });
      $('.tableWrapper thead tr').each(function(){
        const top = $(this).position().top;
        $(this).children().css({"top": top});
      });
        

            $(".wizard-button").click(function () {
                selected = $(this).html();

                wizardButtonNext(this);
            });
            $(".wizard-modal .next").click(function () {
                wizardButtonNext(this);
            });
            $(".wizard-modal .prev").click(function () {
                const modal = $(this).parents(".modal");
                const carousel = $(modal).find('.carousel');
                const stepper = $(modal).find('.stepper');
                const index = $(carousel).find('.carousel-item').siblings('.active').index();

                $(stepper).children('.active').removeClass("active");

                $(carousel).carousel('prev');
                $(stepper).children(`.stepper-step:nth-child(${index})`).toggleClass("active");
                if (index == 1) $(modal).find(".prev").hide();
            });
            $('.wizard-modal').on('hidden.bs.modal', function (e) {
                const carousel = $(this).find('.carousel');
                const stepper = $(this).find('.stepper');
                $(this).find('.active').removeClass("active");
                $(stepper).children(".stepper-step:first-child").toggleClass("active");
                $(carousel).find(".carousel-item:first-child").toggleClass("active");
                $(this).trigger("hide");
                $(this).find(".prev").hide();
            });
            $('#photo-modal').on('next', function (e, i, info) {
                info.shouldHide = true;
                if (isUrlLink == true) switchDisplay();
                else defaultDisplay();
            });
            $('#photo-modal').on('hide', function (e) {
            });
    });
      
        var isUrlLink = false;
        var isImg = [];
        var imgContent = [];
        var imageIndex = 0;
        var max = 1;

        function defaultDisplay() {
            for (var i = 0; i < max; i++) {
                $("#image_" + (i + 1) + "_show").hide();
                $("#image_" + (i + 1) + "_hide").show();
            }
        }

        function switchDisplay() {
            for (var i = 0; i < max; i++) {
                if (isImg[i] == true) {
                    $("#image_" + (i + 1) + "_show").show();
                    $("#image_" + (i + 1) + "_hide").hide();
                }
            }
        }


        function infoId(e) {
            console.log(e.id);

            for (var i = 0; i < max; i++) {
                if (e.id == "image_" + (i + 1) + "") {
                    isImg[i] = true;
                } else {
                    isImg[i] = false;
                }
            }
        }

        function renderImage(link, state) {

            if (link == null || link == "") {
                isUrlLink = false;
            }
            else {

                isUrlLink = true;
                console.log("link " + link);
                console.log("state: " + state);

                for (var i = 0; i < max; i++) {
                    if (state == "image_" + (i + 1) + "") {
                        imgContent[i] = link;
                        document.getElementById("image_" + (i + 1) + "_show").innerHTML = '<img class="input-img rounded mx-auto d-block" src=' + imgContent[i] + ' id="image_' + (i + 1) + '" data-toggle="modal" data-target="#photo-modal" width="auto" />';
                    }
                }

            }
        }

        $("#t_splacing").click(function () {
            isImg[0] = true;
        });
    </script>
    
    <script>// Video Part
        var video = document.querySelector("#videoElement");
        var hdConstraints = { video: { mandatory: { minWidth: 160, minHeight: 120 } } };
        var hhdConstraints = { video: { mandatory: { minWidth: 160, minHeight: 120 } } };
        var vgaConstraints = {
            video: {
                mandatory: {
                    maxWidth: 160,
                    maxHeight: 120
                }
            }
        };
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            document.getElementById("demo").innerHTML = "";

            try {
                navigator.getUserMedia(hhdConstraints, handleVideo, videoError);
            } catch (error) {
                navigator.getUserMedia(hdConstraints, handleVideo, videoError);
            }
        }

        function handleVideo(stream) {
            try {
                this.srcObject = stream;
            } catch (error) {
                this.src = window.URL.createObjectURL(stream);
            }
        }

        function videoError(e) {
            // do something
        }</script>

    <script>// Capture Image Part
        var player = document.getElementById('videoElement');
        var snapshotCanvas = document.getElementById('snapshot');
        var captureButton = document.getElementById('capture');
        var captureButton3 = document.getElementById('capture3');
        var textBottom = document.getElementById('saveText');

        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');
        var txfname = "img_text";
        var XdatStr = 'date';

        textBottom.addEventListener('click', function () {
            var temp = new Date();
            var minth = 1 + temp.getMonth();
            var dateStr = temp.getFullYear() + '_' +
                minth + '_' +
                temp.getDate() + '-' +
                temp.getHours() + '_' +
                temp.getMinutes() + '_' +
                temp.getSeconds();
            XdateStr = dateStr;
            txfname = 'IMG_' + dateStr;

            saveTextAsFile(txfname);
            pcanvas2blob().then(download2X);

            document.getElementById("demo").innerHTML = "saved ";

        });

        captureButton.addEventListener('click', function () {
            document.getElementById("demo").innerHTML = "Reading PDF417.";

            var VH = 1080;
            var VW = 1920;

            VH = video.videoHeight;
            VW = video.videoWidth;

            ctx.canvas.width = VW;
            ctx.canvas.height = VH;

            ctx.drawImage(video, 0, 0);


            var imgd = ctx.getImageData(0, 0, VW, VH);
            var pix = imgd.data;

            var nDataBytes = VH * VW * 4;

            var pdf417Heap = new Uint8Array(Module.HEAPU8.buffer, 1028);

            var buf = Module._malloc(nDataBytes);
            Module.HEAPU8.set(pix, buf);

            // Draw the ImageData at the given (x,y) coordinates.
            ctx.putImageData(imgd, 0, 0);

            var b = _pdf417JS(buf, VH, VW, 1024);

            var heapBu = new Uint8Array(Module.HEAPU8.buffer, buf, 1028);
            var vanz = bin2Strung(heapBu);


            if (b <= 0) {
                vanz = "No Read.";
            }

            Module._free(buf);
            document.getElementById("demo").innerHTML = vanz;

        });

        captureButton3.addEventListener('click', function () {
            document.getElementById("demo").innerHTML = " OCRing MRZ. ";

            var VH = 1080;
            var VW = 1920;
            VH = video.videoHeight;
            VW = video.videoWidth;

            ctx.canvas.width = VW;
            ctx.canvas.height = VH;

            ctx.drawImage(video, 0, 0);

            var imgd = ctx.getImageData(0, 0, VW, VH);
            var pix = imgd.data;

            var nDataBytes = VH * VW * 4; //1280*720*4;

            var pdf417Heap = new Uint8Array(Module.HEAPU8.buffer, 1028);

            var bluf = Module._malloc(nDataBytes);
            Module.HEAPU8.set(pix, bluf);


            // Draw the ImageData at the given (x,y) coordinates.
            ctx.putImageData(imgd, 0, 0);

            var c = _DLreadJS(bluf, VH, VW, 1024);

            var heapBuc = new Uint8Array(Module.HEAPU8.buffer, bluf, 1028);
            var vanc = bin2Strung(heapBuc);

            if (c <= 0) {
                vanc = "No Read.";
            }
            Module._free(bluf);
            document.getElementById("demo").innerHTML = vanc;
        });

        snapHat.addEventListener('click', function () {
            document.getElementById("demo").innerHTML = "Image captured";

            takeASnap();
            //.then(download);
        });

        var state = "";
        function takeASnap() {

            canvas.width = 160;//video.videoWidth; // set its size to the one of the video
            canvas.height = 120;// video.videoHeight;
            ctx.drawImage(video, 0, 0, 160, 120); // the video

            var jpegUrl = ctx.canvas.toDataURL("image/jpeg"); // get base64 output - no longer using toBlob

            for (var i = 0; i < max; i++) {
                if (isImg[i] == true) {
                    state = "image_" + (i + 1) + "";
                }
            }

            renderImage(jpegUrl, state);
        }

        function pcanvas2blob() {
            return new Promise((res, rej) => {
                canvas.toBlob(res, 'image/jpeg'); // request a Blob from the canvas
            });
        }

        function download2X(blob) {
            // uses the <a download> to download a Blob
            let a = document.createElement('a');
            a.href = URL.createObjectURL(blob);

            a.download = 'IMG_' + XdateStr + '.jpg';
            document.body.appendChild(a);
            a.click();
        }

        function download(blob) {
            // uses the <a download> to download a Blob
            let a = document.createElement('a');
            a.href = URL.createObjectURL(blob);
            var temp = new Date();
            var minth = 1 + temp.getMonth();
            var dateStr = temp.getFullYear() + '_' +
                minth + '_' +
                temp.getDate() + '-' +
                temp.getHours() + '_' +
                temp.getMinutes() + '_' +
                temp.getSeconds();

            a.download = 'IMG_' + dateStr + '.jpg';
            document.body.appendChild(a);
            a.click();
        }


        function download_png(blob) {
            // uses the <a download> to download a Blob
            let a = document.createElement('a');
            a.href = URL.createObjectURL(blob);
            var temp = new Date();
            var minth = 1 + temp.getMonth();
            var dateStr = temp.getFullYear() + '_' +
                minth + '_' +
                temp.getDate() + '-' +
                temp.getHours() + '_' +
                temp.getMinutes() + '_' +
                temp.getSeconds();
            a.download = 'IMG_' + dateStr + '.png';
            document.body.appendChild(a);
            a.click();
        }

        function canvaSnap() {
            return new Promise((res, rej) => {
                canvas.toBlob(res, 'image/png'); // request a Blob from the canvas
            });
        }

        function saveTextAsFile(txt_name) {

            var ocr_text = document.getElementById("demo").innerHTML
            var res = ocr_text.replace(/<br>/g, "\r\n");
            var res2 = res.replace(/&lt;/g, '<');

            var blab = new Blob([res2], { type: 'text/plain' });

            let a = document.createElement('a');
            a.href = URL.createObjectURL(blab);
            a.download = txt_name + '.txt';
            document.body.appendChild(a);

            a.click();
        }

        function saveImageAndText(fname) {

            var ocr_text = document.getElementById("demo").innerHTML
            var blab = new Blob([ocr_text], { type: 'text/plain' });

            let a = document.createElement('a');
            a.href = URL.createObjectURL(blab);
            a.download = txt_name + '.txt';
            document.body.appendChild(a);
            a.click();
        }</script>

    <script>function bin2Strung(array) {
            var result = "";
            var max = 2048;
            for (var i = 0; i < max; i++) {
                var v = String.fromCharCode(array[i]);

                if (array[i] == 10) {
                    result += "<br/>";
                }
                else {
                    if (array[i] == 60) {
                        //result += "&#60";
                        result += "&lt";
                    }
                    else {
                        result += String.fromCharCode(array[i]);
                    }
                }
                if (array[i] == 0) {
                    i = max;
                }
            }
            return result;
        }

        function myFunction() {
            document.getElementById("demo").innerHTML = "Doing My Best!";
        }</script>
}


